/*
1. General
2. Home Page
3. Sign Up Page
*/


/*
===========================================
1. General
===========================================
*/
body {
	min-height: 100vh;
	overflow-x: hidden;
}
.app {
	min-height: 100vh;
}
a {
	color: inherit;
	text-decoration: none;
}


/*
===========================================
2. Home page
===========================================
*/
.home-main-container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.home-main-container .home-sign-up, .home-main-container .home-login {
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10em 1em;
}
.home-main-container .home-sign-up {
	background: #292929;
	color: #c3073f;
}
.home-main-container .home-login {
	color: #292929;
	background: #c3073f;
}
.home-main-container .title {
	margin: 0 0 20px;
	text-align: center;
	font-size: 3em;
}
.home-main-container .home-sign-up a {
	background: transparent;
	padding: 8px 40px;
	font-size: 1.25em;
	margin: 0;
	border: 2px solid;
	border-radius: 5px;
	transition: .3s;
}
.home-main-container .home-sign-up a:hover {
	background: #c3073f;
	color: #292929;
	text-decoration: none;
}
.home-main-container .home-login .form-container {
	width: 100%;
	max-width: 350px;
	margin: 0;
	position: relative;
	display: flex;
}
.home-main-container .home-login .form-container:nth-of-type(2) {
	margin-top: 13px;
}
.home-main-container .home-login .form-container label {
	position: absolute;
	left: 10px;
	font-size: 1.2em;
	top: 10px;
	margin: 0;
	font-weight: 400;
	transition: .4s;
}
.home-main-container .home-login .form-container label.active {
	top: -11px;
	font-size: 1em;
	font-weight: 500;
	background: #c3073f;
	left: 7px;
	padding: 0 5px;
	z-index: 2;
}
.home-main-container .home-login .form-container input {
	width: 100%;
	background: transparent;
	border: 2px solid;
	padding: 10px 10px;
	font-size: 1.25em;
	outline: 0;
	border-radius: 4px;
	line-height: 21px;
	position: relative;
	z-index: 1;
	flex: 1;
}
.home-main-container .home-login .form-container:nth-of-type(2) input {
	border-right: 0;
	border-radius: 4px 0 0 4px;
}
.home-main-container .home-login .form-container .login {
	background: transparent;
	border: 2px solid #292929;
	border-radius: 0 4px 4px 0;
	flex-basis: 45px;
	outline: 0 !important;
}


/*
===========================================
3. Sign Up Page
===========================================
*/
.sign-up {
	background: #c3073f;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign-up .sign-up-container {
	background: #1a1a1d;
	border-radius: 5px;
	padding: 15px 20px;
	width: 100%;
	max-width: 420px;
	position: relative;
}
.sign-up .sign-up-container .error-message {
	position: absolute;
	top: -30px;
	font-size: 1.25em;
	color: #1a1a1d;
	font-weight: 600;
}
.sign-up .sign-up-container .form-container {
	margin: 15px 0;
	color: #c3073f;
	text-align: center;
	position: relative;
}
.sign-up .sign-up-container .form-container label {
	position: absolute;
	left: 10px;
	font-size: 1.2em;
	top: 10px;
	margin: 0;
	font-weight: 400;
	transition: .4s;
}
.sign-up .sign-up-container .form-container label.active {
	top: -11px;
	font-size: 1em;
	font-weight: 500;
	background: #1a1a1d;
	left: 7px;
	padding: 0 5px;
	z-index: 2;
}
.sign-up .sign-up-container .form-container input {
	width: 100%;
	background: transparent;
	border: 2px solid;
	padding: 10px 10px;
	font-size: 1.25em;
	outline: 0;
	border-radius: 4px;
	line-height: 21px;
	position: relative;
	z-index: 1;
	flex: 1;
}
.sign-up .sign-up-container button {
	background: transparent;
	width: 100%;
	border: 2px solid;
	padding: 8px 10px;
	font-size: 1.25em;
	outline: 0;
	border-radius: 4px;
	color: #c3073f;
	margin: 0 0 15px;
}


/*
===========================================
4. Chat Page
===========================================
*/
.chat-dashboard {
	display: flex;
	height: 100vh;
	padding: 15px 0;
}
.chat-dashboard .chat-panel {
	flex-basis: 350px;
	padding: 0 25px;
	height: 100%;
	overflow-y: scroll;
	border-right: 1px solid #aaa;
}
.chat-dashboard .chat-panel .searchbox {
	position: relative;
}
.chat-dashboard .chat-panel .searchbox input {
	width: 100%;
	font-size: 1.25em;
	border-radius: 50px;
	border: 1px solid #aaa;
	padding: 5px 5px 5px 35px;
}
.chat-dashboard .chat-panel .searchbox .glyphicon {
	position: absolute;
	top: 10px;
	left: 12px;
	font-size: 1.2em;
}
.chat-dashboard .chat-panel .chats-people .item {
	display: flex;
	margin: 15px 0 10px;
	align-items: center;
}
.chat-dashboard .chat-panel .chats-people .item img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #aaa;
}
.chat-dashboard .chat-panel .chats-people .item .item-name {
	flex: 1;
	margin-bottom: 0;
	margin-left: 10px;
	font-size: 1.4em;
}
.chat-dashboard .chat-panel .chats-people .item .status {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 50%;
}
.chat-dashboard .chat-panel .chats-people .item .status.online {
	background: green;
}
.chat-dashboard .chat-panel .chats-people .item .status.offline {
	background: red;
}
.chat-dashboard .chat-container {
	flex: 1;
	position: relative;
	height: 100%;
}
.chat-dashboard .chat-container .chat-not-selected {
	padding: 1em;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.chat-dashboard .chat-container .chat-not-selected p {
	font-size: 1.5em;
	margin: 0;
}
.chat-dashboard .chat-container .chat-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px 10px 10px;
	height: 60px;
}
.chat-dashboard .chat-container .chat-header img {
	height: 50px;
	width: 50px;
	position: absolute;
	left: 10px;
	top: 5px;
	border-radius: 50%;
}
.chat-dashboard .chat-container .chat-header .person-name {
	font-size: 2.25em;
	margin: 0;
	padding-left: 60px;
}
.chat-dashboard .chat-container .chat-header .person-status {
	margin: 0;
	padding-left: 20px;
	font-size: 1.25em;
	position: relative;
}
.chat-dashboard .chat-container .chat-header .person-status:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	top: 5px;
	left: 0;
	border-radius: 50%;
}
.chat-dashboard .chat-container .chat-header .person-status.online:before {
	background: green;
}
.chat-dashboard .chat-container .chat-header .person-status.offline:before {
	background: red;
}
.chat-dashboard .chat-container .chat-body {
	padding: 10px;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 155px);
	position: absolute;
	width: 100%;
	overflow: scroll;
	bottom: 60px;
	justify-content: flex-end;
}
.chat-dashboard .chat-container .chat-body .chat-text.received {
	text-align: left;
	position: relative;
}
.chat-dashboard .chat-container .chat-body .chat-text.received p{
	max-width: 90%;
	background: lightcoral;
	display: inline-block;
	padding: 7px 15px 20px;
	border-radius: 5px 10px 10px 20px;
	word-break: break-word;
	margin: 3px 0;
	min-width: 65px;
}
.chat-dashboard .chat-container .chat-body .chat-text.received span {
	position: absolute;
	left: 15px;
	bottom: 5px;
}
.chat-dashboard .chat-container .chat-body .chat-text.sent {
	text-align: right;
	position: relative;
}
.chat-dashboard .chat-container .chat-body .chat-text.sent p {
	display: inline-block;
	padding: 7px 15px 20px;
	background: lightblue;
	border-radius: 10px 5px 20px 10px;
	max-width: 90%;
	word-break: break-word;
	margin: 3px 0;
	text-align: left;
	min-width: 60px;
}
.chat-dashboard .chat-container .chat-body .chat-text.sent span {
	position: absolute;
	right: 15px;
	bottom: 5px;
}
.chat-dashboard .chat-container .chat-message-type {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 0 10px;
}
.chat-dashboard .chat-container .chat-message-type input {
	padding: 10px 45px 10px 15px;
	border-radius: 50px;
	border: 1px solid #aaa;
	margin-bottom: 5px;
	width: 100%;
	font-size: 1.2em;
	outline: 0;
}
.chat-dashboard .chat-container .chat-message-type span {
	position: absolute;
	right: 27px;
	top: 13px;
	font-size: 18px;
}
